/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}
