.servicios {
    padding: 20px;
    text-align: center;
  }
  
  .servicios h2 {
    color: #001f3f;
  }
  
  .servicios p {
    font-size: 16px;
    color: #333;
  }
  
  .servicios img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  